<!DOCTYPE html>
<html lang="en">
    
<!-- Access the head partial component -->
<%- include ('./partials/head.ejs') %>

<!-- Import the navbar partial -->
<%- include ('./partials/nav.ejs') %>
       

<style>
  .center-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #add-blog-button{
    width: 100%;
    margin-right: auto;
    background-color: #b48261;
    color: white;
    border: #b48261 solid 2px ;
    border-radius: 4px;
    padding: 8px;
    transition: .2s;
    font-weight: 500;
  }

  #add-blog-button:hover{
    transition: .2s;
    
    background-color: #9f7254;
  }
  
  #add-blog-button:active{
    color: white;
    border: #876249 solid 2px ;
    background-color: #6a4a34;
  }

  /* Style for mobile devices */

  @media only screen and (max-width: 766px) {
    .form-container {
      margin-top:80px !important;
      margin-bottom:50px !important;
    }
  }
  
</style>

<body>
    
    <div class="center-container">
      <div style="width: 35rem;" class="container-fluid p-3 m-3">
        <div class="text-center">
          <img class="mt-5 rounded " src="../public/logo.jpg" height="150px" width="150px" alt="Website Logo">
          </div>
        <div>
          <h2 class="text-center">Write <span style="color: #b48261;">your</span>  Own!</h3>
          <h6 style="color: #876249;" class="card-text text-center">Share your story with the world.</h6>
        </div>
        <form action="/blogs" method="POST">
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Blog Title:</label>
            <input type="text" class="form-control" id="title" name="title" placeholder="An extraordinary blog title">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Blog snippet:</label>
            <input type="text" class="form-control" name="snippet" placeholder="A short description" id="snippet"></input>
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Blog body:</label>
            <textarea name="body" id="body" placeholder="Your story" class="form-control" cols="30" style="max-height: 200px;" rows="8"></textarea>
          </div>
          <div style="width: 30%;" class="mx-auto m-3">
            <button id="add-blog-button">Submit</button>
          </div>
        </form>
      </div>
    </div>
    	
    
    <!-- Import the footer partial -->
    <%- include ('./partials/footer.ejs') %> 
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</html>