<!DOCTYPE html>
<html lang="en">
    
<!-- Access the head partial component -->
<%- include ('./partials/head.ejs') %>

<style>

@media only screen and (max-width: 1000px) {

#banner-two-p{
    width: 100% !important;
    margin: 2% !important; 
}
}

/* Override default Bootstrap button styling*/

.btn-primary{
    background-color: white !important;
    color: #b77a51;
    border: none;
}

.btn-primary:hover{
    background-color: #cd8250 !important;
    color: white;
    border: none;
}

/* Removes the x overflow */
.row {
    --bs-gutter-x: 0rem !important;
}


</style>

<body>
    <!-- Access the navbar partial component -->
    <%- include ('./partials/nav.ejs') %> 
    <div style="height: 100px;"></div>
    <div class="row p-3" >
        <div class="col-lg" style="background-image: url(.././public/blog-user.jpg); border-radius: 5px 5px 5px 5px; background-size: cover; height: 500px; background-repeat: no-repeat;">
            <div style="width: max-content; font-weight: 500; color: rgb(105, 105, 105);" class="p-4 m-4 rounded bg-white shadow align-content-middle">
                <span>OMG!! The craziest thing happend when I was working in Spain</span>
                <img class="col-sm" height="30" width="30" src="../public/shh-emoji.png" alt="" srcset="">
            </div>
        </div>
        <div class="col-lg">
            <div id="create-blog-hero-heading" class="px-1">
                <h1>Share <span style="color: #b48261;">Your</span> Story</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti suscipit officiis iste dolore quasi eos ipsam assumenda aut ratione commodi optio illo ipsa voluptatem aperiam, maiores et vel aliquid fugit.</p>
            </div>
        </div>     
    </div>
    <div style=" background-color: #b48261; width: 100%; box-sizing: none; " id="" class=" text-center p-4 text-white" >
        <h1>Inspiring Stories to give you hope</h1>     
        <p id="banner-two-p" class="mx-auto" style="width: 40%;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus totam tempore quidem modi ab, molestias dolore nulla harum repellendus. Quisquam delectus quasi, voluptatem dicta doloremque id at. Facilis, cum sunt.</p>
        <button style=" font-weight: 500;" class='btn btn-primary mx-auto'>Go Now</button>
    </div>

    
    

        

        
    <%- include ('./partials/footer.ejs') %> 

    
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</html>