<script src="https://cdn.lordicon.com/ritcuqlt.js"></script>
<%- include ('./partials/head.ejs') %>



    <div class="container-fluid vh-100 d-flex align-items-center">
      <div class="container-m mx-auto text-center">
        <div class="container-fluid m-3 mx-auto text-center ">
            <lord-icon class="img-fluid"
                src="https://cdn.lordicon.com/rjzlnunf.json"
                trigger="loop"
                delay="1000"
                colors="primary:#b48261,secondary:#545454"
                stroke="65"
                state="hover-1"
                style="width:250px;height:250px">
            </lord-icon>
            <h3>Thank <span style="color: #b48261;">You!</span> </h3>
        </div>
      </div>
    </div>

  <!-- Redirect the page to the blogs page after the user submitts a blog  -->
  <script>
    window.setTimeout(function () {
        location.href = "/blogs";
    }, 2000);
  </script>
