<!-- Footer -->
<div class="container">
    <footer class="d-flex flex-wrap justify-content-between py-3 my-4 border-top">

        <span class="mb-3 mb-md-0 text-muted">© 2023 Bonchii</span>

  
      <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        <li class="ms-3"><a class="text-muted" href="#"><img src="../../public/github.png"'' title="GitHub" class="bi" width="34" height="34"><use xlink:href="#github"></use></svg></a></li>
        <li class="ms-3"><a class="text-muted" href="#"><img src="../../public/twitter.png"'' class="bi" title="Twitter" width="34" height="34"><use xlink:href="#twitter"></use></svg></a></li>
        <li class="ms-3"><a class="text-muted" href="#"><img src="../../public/instagram.png"'' class="bi" title="Instagram" width="34" height="34"><use xlink:href="#instagram"></use></svg></a></li>
        <li class="ms-3"><a class="text-muted" href="#"><img src="../../public/facebook.png"'' class="bi" title="Facebook" width="34" height="34"><use xlink:href="#facebook"></use></svg></a></li>
      </ul>
    </footer>
  </div>