<!DOCTYPE html>

<html lang="en">
<!-- Access the head partial component -->
<%- include ('./partials/head.ejs') %>

<body>
    <!-- Access the navbar partial component -->
   <%- include ('./partials/nav.ejs') %> 
</body>
</html>