<!DOCTYPE html>
<html lang="en">

<!-- Access the head partial component -->
<%- include ('./partials/head.ejs') %>

<body>
   <!-- Access the navbar partial component -->
   <%- include ('./partials/nav.ejs') %> 
   
    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt minus quia repellat voluptates earum, et atque dolorum enim consectetur, non dolor iste. Tempora quidem repellat ipsam sit assumenda quam est?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt minus quia repellat voluptates earum, et atque dolorum enim consectetur, non dolor iste. Tempora quidem repellat ipsam sit assumenda quam est?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt minus quia repellat voluptates earum, et atque dolorum enim consectetur, non dolor iste. Tempora quidem repellat ipsam sit assumenda quam est?</p>
    </div>

</body>
</html>