<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/3867/3867730.png">
    <title>About page</title>
</head>
<body>
    <nav>
        <div class="site-title">
            <a href="/"><h1>The About Page</h1></a>
            <p>Learn about what this blogpage website is all about.</p>
        </div>
        <ul>
            <li><a href="/">Blogs</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blogs/create">New Blog</a></li>
        </ul>
    </nav>
   
    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt minus quia repellat voluptates earum, et atque dolorum enim consectetur, non dolor iste. Tempora quidem repellat ipsam sit assumenda quam est?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt minus quia repellat voluptates earum, et atque dolorum enim consectetur, non dolor iste. Tempora quidem repellat ipsam sit assumenda quam est?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt minus quia repellat voluptates earum, et atque dolorum enim consectetur, non dolor iste. Tempora quidem repellat ipsam sit assumenda quam est?</p>
    </div>

</body>
</html>