<!DOCTYPE html>
<html lang="en">
    <!-- Access the head partial component -->
    <%- include ('./partials/head.ejs') %> 

<section>

    <style>
        .center {
            display: flex;
            align-items: center;
        }
    </style>

    <div id="intro" class="bg-image vh-100" style="
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('https://cdn.searchenginejournal.com/wp-content/uploads/2020/08/7-ways-a-blog-can-help-your-business-right-now-5f3c06b9eb24e.png');">     
    </div>

    <div style="position: absolute; top: 300px; height: min-content;" class="shadow-lg bg-white rounded-end center container-md ">
        <div class="m-5">
            <h1 style="color: #b48261;">Write your Own!</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo a officia laboriosam sint voluptates aliquid eius exercitationem, eos voluptate quasi laudantium nostrum cupiditate eaque, et ullam dicta! Similique, quam itaque!</p>
        </div>
                
    </div>
    
    </section>

    

<body>

    <!-- Access the navbar partial component -->
    <%- include ('./partials/nav.ejs') %> 
   
        

        <div  class="container-sm mx-auto my-3">
            <h2 style=" color: #b48261" class="mx-auto">All Blogs</h2>
        <% if (blogs.length > 0) { %>
            <% blogs.forEach(blog => { %>
                
              

                    <div class="container-xs px-0 mt-5 shadow-sm ">  
                        <h4 style="color: white ; background-color:#a89385 ;" class="title p-3 rounded-top"><%= blog.title %></h4>
                        <p class="snippet  p-2"><%= blog.snippet %> </p>
                    </div>
                 

          <%  }) %>
       <% } %>
                </div>


</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</html>

<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      <div class="col-md-4 d-flex align-items-center">
        <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
          <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
        </a>
        <span class="mb-3 mb-md-0 text-muted">© 2023 Tonjaro Tabs</span>
      </div>
  
      <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"></use></svg></a></li>
        <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>
        <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>
      </ul>
    </footer>
  </div>