
<style>


.mask-custom {
  background-color: rgb(255, 255, 255);
}

.navbar-brand {
  font-size: 1.75rem;
  letter-spacing: 3px;
}

body{
    margin-top: 0%;
}
.nav-item:hover{
    border-bottom: #b48261 2px solid;
    transition: .3;
    margin-bottom: -2px;
}


.nav-link:hover{
    color: #b48261;
    transition: .3;
}

</style>

 <nav class="navbar navbar-expand-lg navbar-light fixed-top mask-custom shadow-sm">
    <div class="container">
      <a  class="navbar-brand" href="#!"><span style=" text-transform: capitalize; color: #b48261; font-weight: 500; letter-spacing: -0.5px;">Tonjaro <span style="color: black;">Tabs</span></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <img src="menu.png"  height="24" width="24" class="fas fa-bars">
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Blogs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/blogs/create">New Blog</a>
          </li>
        </ul>
        <ul class="navbar-nav d-flex flex-row">
          <li class="nav-item me-3 me-lg-0">
            <a class="nav-link" href="#!">
              <i class="fas fa-shopping-cart"></i>
            </a>
          </li>
          <li class="nav-item me-3 me-lg-0">
            <a class="nav-link" href="#!">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <li class="nav-item me-3 me-lg-0">
            <a class="nav-link" href="#!">
              <i class="fab fa-instagram"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid vh-100">
      
    </div>
  </nav>

